<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
    <div class="row-3 mb-4">
    <span>
    {% for tag in article.tags.all %}
        <a href="#"
           class="badge badge-secondary"
        >
            <p>{{ tag }}</p>
        </a>
    {% endfor %}
</span>


        <!-- 标题图 -->

            <!-- 文章内容 -->
        <div class="row-2 mb-1">
        <!-- 卡片容器 -->


                <!-- 标题 -->
                <h4 class="card-header">{{ article.title }}</h4>
                <!-- 摘要 -->
                <div class="card-body">
                    <p class="card-text">{{ article.content|slice:'100' }}...</p>
                </div>
                <!-- 注脚 -->
                 {% if article.img %}

                <img src="{{ article.img.url }}"
                     alt=""
                     style="max-width:100%; border-radius: 20px"
                     width="500" height="600"
                >


                  <div class="col-12 alert alert-success">
         · <a href="{% url "bl:delete" article.id %}">删除文章</a>
        </div>

        {% endif %}

            </div>
        </div>





      <b>  <b>

    </div>
</div>
{% endblock content %}